@page "/blog"

<PageTitle>(WIP!) Blog</PageTitle>

<h1>Blog goes here</h1>

<p>
    Nothing here yet! 
    I guess I need to take more notes so that I can write a little here for my own benefit! hahah
</p>