@page "/"

<PageTitle>Friendly Development Blog</PageTitle>

<div id="main-title" style="width: 100%;">
<img style="width: 100px; length: 100px; border-radius: 50%; display: inline-block;" src="https://media-exp1.licdn.com/dms/image/C5603AQF5-HeLZVHdjA/profile-displayphoto-shrink_400_400/0/1563810550013?e=1658966400&v=beta&t=M6_dzxpKtXreJF-2rc7XDU0E8hsYU2IC5tK5bC-h_u4"/>
<h1>_Hello, world!</h1>
</div>

<p>
    I'm a cyber-security professional specializing in secure development.
     I currently work for Kongsberg Maritime, where
     along with my team I develop industrial control systems for deployment on marine vessels.
     I have developed software for monitoring network equipment in safety-critical control systems. 
</p>
