@page "/projects"
@inject HttpClient Http

<PageTitle>(WIP!) Project pull-from-TMDB</PageTitle>

<h1>(WIP!) TMDB api fetching </h1>

<p>This component demonstrates fetching data from the TMDB api.</p>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.releaseDate</td>
                    <td>@movie.title</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Movie> movies = new List<Movie>();

    protected override async Task OnInitializedAsync()
    {

        var m = await getMovie(550);
        
        movies.Add(m);
    }

    async Task<Movie> getMovie(int id)
    {
        var ret = new Movie();

        var content = await Http.GetFromJsonAsync<JsonElement>(
            $"https://api.themoviedb.org/3/movie/{id}?api_key=1422303e78dc4243889e6e549813ff6d"
            );

        ret.releaseDate = content.GetProperty("release_date").ToString();
        ret.title = content.GetProperty("original_title").ToString();

        return ret;
    }

    public class Movie
    {
        public string? releaseDate { get; set; }
        public string? title { get; set; }
    }
}
